.LadderlistItem{
    width: 100%;
    font-size: 17px;

    @media (max-width:430px){
        font-size: 16px;
    }
    & table{
        width: 100%;
        // border: 0.5px rgb(26, 24, 24) solid;
        border-collapse: collapse;
        margin-top: 10px;
        
    }
    thead{
        color: #5f86a9;
    }
    & td, th{
        border: 0.3px rgb(124, 81, 81) solid;
        padding: 5px;
        margin: 0;
        text-align: center;

    }
}